@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Gluten", cursive;
  font-family: "Poppins", sans-serif;
}

.mainContainer {
  background-image: url(../public/choco.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.partTwo {
  background-image: url("../public/newImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.description {
  z-index: 5;
}

.headline {
  transform: rotate(270deg);
  position: absolute;
  top: 1100px;
  color: white;
  font-size: 40px;
  font-weight: bolder;
}
